@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Gochi+Hand&display=swap');

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    font-size: 1rem;
}

.left {
    display: flex;
    min-width: 40vw;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: url(./images/bg.jpg);
    background-size: 30rem;
    background-repeat: no-repeat;
    background-position: right;
}

.right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo {
    font-family: 'Gochi Hand', cursive;
    display: block;
    font-size: 2rem;
    padding: 15px 20px;
    margin: 10% 10px 10px;
    border-radius: 50px;
    background-color: #abdae6b0;
    color: white;
    text-align: center;
}

.images img{
    background: #ffffff;
    display: inline-block;
    margin: -35% 15px 0;
    padding: 15px 15px 80px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    position: relative;
}

.pol {
    width: 12rem;
    transform: rotate(350deg);
}

.pol:hover {
    width: 20rem;
    transition: 1s;
    transform: scale(1.3, 1.3) translate(70%, 0);
    z-index: 99;
}


.footer {
    width: fit-content;
    background-color: #abdae6;
    color: black;
    text-align: right;
    padding: 8px 15px;
    margin-bottom: 2rem;
    font-size: 0.8rem;
}

.top {
    flex: 0 1 20%;
    font-size: 1.4rem;
    padding: 10px;
    inline-size: 570px;
}

.mid {
    padding: 0;
    padding-left: 10px;
    margin: 0;
    flex: 0 1 45%;
    box-shadow: 0 15px 15px #e6e6e6;
}

.mid h2 {
   padding-left: 50px;
   text-decoration: underline wavy #abdae6;
   background-image: url(./images/cat.jpg);
   background-size: 25%;
   background-clip: text;
   -webkit-background-clip: text;
   color: transparent
}

.form-container form{
    display: grid;
    align-content: center;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 8px;
    justify-items: center;
    align-items: center;
}

input {
    border: none;
    width: 13rem;
    font-size: 1.1rem;
    border-bottom: 2px double grey;
    margin: 2px;
    padding: 8px;
    font-family: 'Comfortaa';
}

input:focus {
    outline-width: 0px;
    background-color: #e6e6e6;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

input + span {
    position: relative;
}
  
input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: #28b3d6;
    padding: 4px 7px;
    top: -30px;
    left: -60px;
}

.bot {
    width: 100%;
    padding: 15px 0;
    margin: 10px 30px ;
}

.bot button {
    font-family: 'Comfortaa';
    font-size: 1.1rem;
    padding: 5px 10px;
    border: 2px solid #abdae6;
    border-radius: 20px;
    background-color: white;
    width: 100px;
}

.bot button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: #75cce2;
    color: white;
}

.bot a{
    color: #28b3d6;
}

a {
    text-decoration: none;
    color: inherit;
}