@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Gochi+Hand&display=swap');

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa';
    font-size: 1rem;
}

.left {
    display: flex;
    min-width: 35vw;
    flex-direction: column;
    background-color: #9d73cc;
    justify-content: space-between;
    align-items: center;
}

.right {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.logo {
    font-family: 'Gochi Hand', cursive;
    display: block;
    font-size: 2rem;
    padding: 20px;
    margin: 40% 10px 10px;
    border-radius: 16px;
    background-color: #00000065;
    color: white;
    text-align: center;
    z-index: 99;
}

.images img{
    background: #ffffff;
    display: inline-block;
    margin: -50% 15px 0;
    padding: 15px 15px 80px;
    -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    position: relative;
}

.pol {
    width: 12rem;
    transform: rotate(350deg);
}

.pol:hover {
    width: 20rem;
    transition: 1s;
    transform: scale(1.3, 1.3) translate(70%, 0);
   
}


.footer {
    width: 100%;
    background-color: #dab1b1;
    text-align: center;
}

.top {
    flex: 0 1 25%;
    font-size: 1.4rem;
    padding: 10px;

}

.mid {
    border: 5px solid white;
    padding: 10px;
    margin: 0;
    width: 97%;
    flex: 0 1 40%;
    box-shadow: 10px 15px 10px rgb(165, 165, 165);
}

.mid h2 {
   padding-left: 50px
}

.form-container form{
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(2, 280px);
    grid-template-rows: repeat(3, 100px);
    grid-gap: 8px;
    justify-items: center;
    align-items: center;
}

input {
    border: none;
    width: 13rem;
    font-size: 1.1rem;
    border-bottom: 2px double grey;
    margin: 2px;
    padding: 8px;
    font-family: 'Comfortaa';
}

input:focus {
    outline-width: 0px;
    background-color: #e6e6e6;
}

input:valid {
    border-color: green;
}

input:invalid {
    border-color: red;
}

input + span {
    position: relative;
}
  
input:required + span::after {
    font-size: 0.7rem;
    position: absolute;
    content: "required";
    color: white;
    background-color: black;
    padding: 4px 7px;
    top: -30px;
    left: -60px;
}

.bot {
    width: 100%;
    flex: 0 1 auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px;
}

.bot button {
    font-family: 'Comfortaa';
    font-size: 1.1rem;
    padding: 5px 10px;
    border: 2px solid #9d73cc;
    border-radius: 20px;
    background-color: white;
    width: 100px;
}

.bot button:hover {
    cursor: pointer;
    transition: 1s;
    background-color: #b399d1;
    color: white;
}